
body { 
  background: url("../img/background/blackandwhite.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
}

h1{O
	font-size:100px;	
}

.title{
	color:white;
	position:relative;
	top:60px;
	right:5px;
	font-size:200px;
}

.title1{
	color:black;
	position:relative;
	top:60px;
	right:5px;
	font-size:200px;
}


#main-menu{
	color:#0000FF;
	list-style-type: none;
	margin:0 auto;
	/*display:none;*/
	position:relative;
	top:400px;
	right:25px;
	font-size:60px;
	font-family: '8-bit_limit_brkregular';
	display:inline-block;
}

.sub-menu{
	color:#0000FF;
	list-style-type: none;
	margin:0 auto;
	display:none;
	position:relative;
	top:100px;
	right:25px;
	font-size:60px;
	font-family: '8-bit_limit_brkregular';
	display:inline-block;
	cursor:pointer;
}



.sub-menu-opt small{
	font-size:20px;
}

#main-menu li{
	cursor:pointer;
}

#main-menu li:hover{
	color:blue;
}

.selected-opt {
	color:blue;
}


#loading {
	position:relative;
	top:50px;
	padding:20px;
	width:660px;
	margin:0 auto;
	display:none;
}

#loading h2 {
	color:white;
}


